.isi {
    width: 100%;
    background: #f4403626;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #f4433633;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
}

.music-box {
    width: 100%
}

